{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://mini-post-api.vs-blog.tech",
      "description": "Local Server"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "mini-post",
    "description": "Nest TypeScript starter repository",
    "license": {
      "name": "MIT"
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/post": {
      "post": {
        "tags": [
          "Post"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPost"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GenericFilterIPost"
            },
            "description": "",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatePostResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/post/{id}": {
      "get": {
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "number"
            },
            "description": "",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPost.Nullable"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "number"
            },
            "description": "",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Post"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "number"
            },
            "description": "",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreatePostDto": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 1,
            "minLength": 1
          },
          "content": {
            "type": "string",
            "maxLength": 500,
            "minLength": 10
          },
          "isPublished": {
            "type": "boolean"
          }
        },
        "nullable": false,
        "required": [
          "title",
          "content",
          "isPublished"
        ]
      },
      "IPost": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "views": {
            "type": "number"
          },
          "isPublished": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "number"
          },
          "user": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "$ref": "#/components/schemas/IUser"
              }
            ]
          }
        },
        "nullable": false,
        "required": [
          "title",
          "content",
          "views",
          "isPublished",
          "created_at",
          "updated_at",
          "deleted_at",
          "id"
        ]
      },
      "IUser": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "number"
          },
          "username": {
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "password",
          "created_at",
          "updated_at",
          "deleted_at",
          "id",
          "username"
        ]
      },
      "GenericFilterIPost": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "minimum": 1
          },
          "pageSize": {
            "type": "number",
            "maximum": 100,
            "minimum": 1
          },
          "orderBy": {
            "type": "string",
            "enum": [
              "views",
              "user",
              "created_at",
              "updated_at",
              "deleted_at",
              "id",
              "title",
              "content",
              "isPublished"
            ]
          },
          "sortOrder": {
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          }
        },
        "nullable": false,
        "required": [
          "page",
          "pageSize"
        ]
      },
      "PaginatePostResponse": {
        "type": "object",
        "properties": {
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IPost"
            }
          },
          "total": {
            "type": "number"
          }
        },
        "nullable": false,
        "required": [
          "posts",
          "total"
        ]
      },
      "IPost.Nullable": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "views": {
            "type": "number"
          },
          "isPublished": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "number"
          },
          "user": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "$ref": "#/components/schemas/IUser"
              }
            ]
          }
        },
        "nullable": true,
        "required": [
          "title",
          "content",
          "views",
          "isPublished",
          "created_at",
          "updated_at",
          "deleted_at",
          "id"
        ]
      },
      "UpdatePostDto": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 1,
            "minLength": 1
          },
          "content": {
            "type": "string",
            "maxLength": 500,
            "minLength": 10
          },
          "isPublished": {
            "type": "boolean"
          }
        },
        "nullable": false,
        "required": [
          "title",
          "content",
          "isPublished"
        ]
      },
      "UpdateResult": {
        "type": "object",
        "properties": {
          "raw": {
            "description": "Raw SQL result returned by executed query."
          },
          "affected": {
            "type": "number",
            "description": "Number of affected rows/documents\nNot all drivers support this"
          },
          "generatedMaps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ObjectLiteral"
            },
            "description": "Generated values returned by a database.\nHas entity-like structure (not just column database name and values)."
          }
        },
        "nullable": false,
        "required": [
          "raw",
          "generatedMaps"
        ],
        "description": "Result object returned by UpdateQueryBuilder execution."
      },
      "ObjectLiteral": {
        "type": "object",
        "properties": {},
        "nullable": false,
        "description": "Interface of the simple literal object with any string keys."
      },
      "AuthBody": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "maxLength": 50,
            "minLength": 1
          },
          "password": {
            "type": "string",
            "maxLength": 50,
            "minLength": 8
          }
        },
        "nullable": false,
        "required": [
          "username",
          "password"
        ]
      },
      "LoginResult": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "access_token_ttl": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "refresh_token_ttl": {
            "type": "string"
          }
        },
        "nullable": false,
        "required": [
          "access_token",
          "access_token_ttl",
          "refresh_token",
          "refresh_token_ttl"
        ]
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}